//Nested selectors mimic the structure of the dom tree

.currencies {
	width: 100%;
	// height: calc(100vh - 50px);
	// max-height: 700px;
	@include center;
	flex-direction: column;
	//MEDIA QUERY FOR 670 WIDTH (IPAD)
	@media #{$mq-670} {
		height: auto;
		max-height: none;
	}
	&>div {
		@include center;
		width: 100%;
		height: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 1300px;
		margin-top: 30px;
		// @media #{$mq-670} {
		// 	margin-top: 30px;
		// }	
		@media #{$mq-1070} {
			margin-top: 60px;
		}	
		//ELEMENTS ADDED BY SLIDER
		&>.flickity-viewport {
			height: 100%;
			width: 100%;
			@include center;
			&>.flickity-slider {
				height: 100%;
				width: 100%;
				@include center;
			}
		}
	}
}

.slider {
	transition-duration: 0.3s;
}

.slider-move {
	transform: translateY(100%);
}

//Removes slider from the dom at 670 width
#currencies::after {
    content: 'flickity';
    display: none;
    @media #{$mq-670} {
        content: '';
    }
}

//CircleGraph component
.circle-graph {
	height: auto;
	width: 100%;
	@include center;
	//Adjust max width for different screens
	//creates grid view
	max-width:450px;
	transition-duration: 0.3s;
	// transform: scale(0.5);
	position: relative;
	perspective: 1000px;
	width: 90%;
	margin-bottom: 30px;
	border-radius: 5px;
	@media #{$mq-670} {
		// max-width: 290px;
		width: 40%;
		//creates a card layout
		// border-radius: 5px;
		margin-bottom: 40px;
		max-width: none;
		transform: scale(1);
		&:nth-of-type(even) {
			margin-left: 20px;
		}
		&:nth-of-type(odd) {
			margin-right: 20px;
		}
	}
	@media #{$mq-957} {
		width: 40%;
		max-width: 375px;
		margin-bottom: 5%;
		&:nth-of-type(even) {
			margin-left: 2.5%;
		}
		&:nth-of-type(odd) {
			margin-right: 2.5%;
		}
	}
	&>.center {
		padding-top: 20px;
		@include center;
		width: 100%;
		height: 100%;
		flex-direction: column;
		backface-visibility: hidden;
		transition-duration: 0.3s;
		@include cardShadow;
		border-radius: 5px;
		position: relative;
		background: #fff;
		&>h2 {
			font-weight: 200;
			text-align: center;
			margin-bottom: 10px;
			font-size: 2.5em;
			margin-top: 0;
		}
		//Responsive svg circle capped off at 250px height and width
		&>.circ {
			height: 75%;
			width: 75%;
			position: relative;
			margin-bottom: -25px;
			@media #{$mq-670} {
				max-width: 250px;
				max-height: 250px;
			}
			&>svg{
				transform: rotate(-90deg);
				&>circle {
					transition-timing-function: cubic-bezier(0.99, 0.01, 0.62, 0.94);
					transition: stroke-dashoffset 0.8s 0.15s, stroke-dasharray 0.8s 0.15s;
				}
			}
			//Elements that are placed in the center
			//of the circle graph
			&>.decision {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				@include center;
				flex-direction: column;
				&>h3 {
					font-size: 2em;
					margin: 0;
					margin-bottom: 10px;
				}
				&>h4 {
					font-size: 1em;
					margin: 0;
					font-weight: 200;
				}
			}
		}
	}
	&>.center-rotate {
		transform: rotateY(-180deg);
	}
}

.flip {
	outline: none; border: none;
	position: absolute;
	top: 0; right: 0;
	backgroundColor: green;
	@include center;
	height: 50px; width: 60px;
	@media #{$mq-670} {
		height: 40px; width: 40px;
	}
	&>svg {
		height: 100%;
		width: 100%;
	}
}


//active class for slider component
.is-selected {
	transform: scale(1);
}

//Elements sitting below the svg circles
.info {
	@include center;
	width: 100%;
	color: #5D5F78;
	text-align: center;
	&>div {
		@include center;
		flex-direction: column;
		width: 100%;
		&>h3 {
			font-weight: 200;
			margin: 0;
		}
		&>.prices {
			@include center;
			justify-content: space-between;
			margin-bottom: 20px;
			max-width: 300px;
			width: 85%;
			&>.price {
				@include center;
				flex-direction: column;
				font-size: 1.3em;
				&::before {
					content: 'High:';
					display: block;
					text-align: center;
					font-size: 0.8em;
					color: #56D171;
					font-weight: 700;
				}
			}
			&>.price:last-of-type::before {
				content: 'Low:';
				color: #FC2E43;
			}
		}
		&>.profit {
			font-size: 1.3em;
			font-weight: 600;
		}
		//creates a card layout footer 
		//these can be buttons
		&>.buy-sell {
			margin-top: 20px;
			@include center;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;
			height: 50px;
			background: #989898;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			// @media #{$mq-670} {
			// 	border-bottom-left-radius: 5px;
			// 	border-bottom-right-radius: 5px;
			// }
			&>p {
				width: 50%;
				@include center;
				text-align: center;
				color: #fff;
				height: 100%;
				&:first-of-type {
					border-right: 1px solid #fff;
				}
			}
		}
	}
}