body {
    padding:40px;
    font-family: 'Roboto';
    text-align: center;
}

.donutchart {
    margin: 0 auto;
    border-radius: 50%;
    display: block;
}

.donutchart--text {
    font-family: 'Roboto';
    fill: #607580;
}
.donutchart--text_val {
    font-size: 22px;
}
.donutchart--text_percent {
    font-size: 14px;
}
.donutchart--text_label {
    font-size: 9px;
}

.donutchart--track {
    fill: transparent;
    stroke: #DAE2E5;
    stroke-width: 26;
}

.donutchart--indicator--green {
    fill: transparent;
    stroke: #009688;
    stroke-width: 26;
    stroke-dasharray: 0 10000;
    transition: stroke-dasharray 2s ease;
}
.donutchart--indicator--red {
    fill: transparent;
    stroke: #bd2b2b;
    stroke-width: 26;
    stroke-dasharray: 0 10000;
    transition: stroke-dasharray 2s ease;  
}
#data {
    display: block;
}
#hidden {
    display: none;
}