@import 'components/reset';
@import 'components/variables';
@import 'components/flickity';


#root {
	font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
}

.App {
	&>.page {	
		margin-top: 50px;
		transition-duration: 0.3s;
		@media #{$mq-670} {
			margin-top: 80px;
		}
		@media #{$mq-1070} {
			margin-top: 0;
		}
		@media #{$mq-1070} {
			width: calc(100% - 200px);
			position: relative;
			left: 200px;
		}
	}
	&>.page-move {
		transform: translateX(-70%);
		@media #{$mq-670} {
			transform: translateX(0%);
		}

	}
}

.center {
	@include center;
}

@import 'components/Header/header';
@import 'components/Header/Burger/burger';
@import 'components/Menu/menu';
@import 'components/Homepage/homepage';
@import 'components/Indicators/graphs';
@import 'components/Team/team.scss';


