@import 'components/reset';
@import 'components/variables';
@import 'components/flickity';


#root {
	font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
}

.App {
	margin-top: 50px;
	@media #{$mq-670} {
		margin-top: 80px;
	}
}

.center {
	@include center;
}

@import 'components/Header/header';
@import 'components/Header/Burger/burger';
@import 'components/Menu/menu';
@import 'components/Homepage/homepage';
@import 'components/Indicators/graphs';