*, 
*::before, 
*::after {
    box-sizing: border-box;
}

#hamburger {
    transform-origin: 0% 50%;
    cursor: pointer;
    transform: scale(0.65);
    width: 68px;
    height: 68px;
    background: transparent;
    z-index: 100000;
    transition-duration: 0.3s;
    transition-delay: 1s;
    user-select: none;
    position: relative;
    margin: 1.5px -30px 0 0;
    @media #{$mq-670} {
        display: none;
    }
}
#top, #bottom1 {
    position: absolute;
    height: 2px;
    width: 34px;
    background: #fff;
}
#top {
    top: 21px;
    left: 15px;
}
#bottom1 {
    top: 41px;
    left: 15px;
}

#hamburger path, line {
    stroke: #fff;
    stroke-linecap: round;
}

/* // Starting values */
#top, #bottom1 {
    transform-origin: 34px 2px;
    transform: rotate( 0deg );
    transition: all 0.5s cubic-bezier(.8, -1.1, .5, 1.9);
}
#circle {
    stroke-dasharray: 1 100 32 300; 
    stroke-dashoffset: 101; 
    transition: all 0.75s ease; 
}

.hamburglar.is-closed #circle {
  stroke-dasharray: 1 100 190 300;
  stroke-dashoffset: 1;
}
  
.hamburglar.is-closed #top {
    transform: translateX( -2.5px ) rotate( -45deg ) translateY(-3px);
}
.hamburglar.is-closed #bottom1 {
    transform: translateX( -4px ) rotate( 45deg ) translateY(2px);
}