.menu {
	position: fixed;
	top: 50px;
	right:0;
	height: calc(100vh - 50px);
	width: 70%;
	background: #37476E;
	@include center;
	@include leftShadow;
	z-index: 9;
	transform: translateX(110%);
	transition-duration:0.3s;
	@media #{$mq-670} {
		display: none;
	}
	&>.center {
		flex-direction: row;
		width: 100%;
		margin-top: -20%;
		&>nav {
			@include center;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;
			border-top: 1px solid #485F9A;
			&>a {
				text-decoration: none;
				background: transparent;
				font-weight: 300;
				font-size: 3.5vh;
				margin:0; padding: 0;
				color: #B4CBF5;
				height: 50px;
				border-bottom: 1px solid #485F9A;
				width: 100%;
				text-align: center;
				@include center;
				&:visited {
					color: #B4CBF5;
					text-decoration: none;
				}
				&:active {
					color: #B4CBF5;
					text-decoration: none;
					opacity: 0.25;
				}
			}
			&>.active {
				color: #fff;
				text-decoration: none;
			}
			&>.login {
				outline: none; border: none;
				height: 40px; width: 85%;
				@include center; @include buttonShadow;
				background: #fff; color: #485F9A;
				margin-top: 20px;
				border-radius: 2.5px;
				font-weight: 900;
				transition-duration: 0.2s;
				&:active {
					opacity: 0.25;
				}
			}
		}
	}
}

.menu-show {
	transform: translateX(0%);
}