.header {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	@include headerShadow;
	@include center;
	z-index: 10;
	background: #2E3B5A;
	@media #{$mq-670} {
		height: 80px;
	}
	@media #{$mq-1070} {
		height: 100%;
		width: 200px;
		@include rightShadow;
	}
	&>.center {
		flex-direction: row;
		justify-content: space-between;
		height: 100%;
		width: 90%;
		@media #{$mq-1070} {
			flex-direction: column;
			justify-content: flex-start;
			width: 100%;
			margin-top: 60px;
		}
		&>.logo {
			height: 90%;
			width: auto;
			@include center;
			@media #{$mq-1070} {
				height: 70px;
			}
			&>img {
				height: 40px;
				width: auto;
				@media #{$mq-670} {
					height: 55px;
				}
			}
			&>h1 {
				text-transform: lowercase;
				font-size: 2em;
				color: #FFF;
				font-weight: 200;
				margin: 0;
				@media #{$mq-670} {
					font-size: 2.5em;
				}
			}
		}
		&>.header-nav {
			display: none;
			height: 100%;
			margin: 0; padding: 0;
			width: auto;
			@media #{$mq-670} {
				@include center;
				width: 100%;	
				justify-content: flex-end;
			}
			@media #{$mq-1070} {
				flex-direction: column;
				justify-content: flex-start;
				margin-top: 30px;
			}
			&>a {
				color: #B4CBF5;
				margin: 0; padding: 0;
				margin: 0 20px;
				background: transparent;
				font-weight: 100;
				@include center;
				width: auto;
				text-decoration: none;
				&:visited {
					text-decoration: none;
					color: #B4CBF5;
				}
				@media #{$mq-1070} {
					margin: 15px 0px;
					font-size: 1.5em;
				}
			}
		}
	}
}